{% extends "base.html" %}
{% block title %}Create an Account{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block main %}
<div style="display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;">

    <div class="simple-container" style="border: 1px solid black;
                                        border-radius: 18px;
                                        padding: 15px;
                                        width: 50%;">
        <div>
            <h1 style="margin: 0px 0px 10px 0px;">Create an Account</h1>
        </div>

        <div>
            <form method="post" style="border-top: 1px solid black;">
                <div class="simple-container">
                    <input class="input-text box-shadow form-item" name="account_name" type="text" placeholder="account name">
                    <input class="input-text box-shadow form-item" name="account_reference" type="text" placeholder="reference">
                    {% include 'messageBar.html' %}
                    <button class="button-submit box-shadow form-item" style="font-size: large;" type="submit">Create Account</button>
                    <a class="box-shadow form-item" style="font-size: small;" href="/account/select"><div>Back to Selection</div></a>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}
