{% extends "base.html" %}
{% block title %}Join an Account{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block main %}
<div style="display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;">

    <div class="simple-container" style="border: 1px solid black;
                                        border-radius: 18px;
                                        padding: 15px;
                                        width: 50%;">
        <div>
            <h1 style="margin: 0px 0px 10px 0px;">Join an Account</h1>
        </div>

        <div>
            <form method="post" style="border-top: 1px solid black;">
                <div class="simple-container">
                    <input class="input-text box-shadow form-item" name="invite_code" type="text" placeholder="paste your invite code here">
                    <button class="button-submit box-shadow form-item" type="submit">Join</button>
                </div>
            </form>
        </div>

        {% include 'messageBar.html' %}
    </div>
</div>

{% endblock %}
