{% extends "base.html" %}
{% block title %}User Registration{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block main %}
<div style="display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;">

    <div class="simple-container" style="border: 1px solid black;
                                        border-radius: 18px;
                                        padding: 15px;
                                        width: 50%;">
        <div>
            <h1 style="margin: 0px 0px 10px 0px;">Create or Join an Account</h1>
        </div>

        <div>
            <form method="post" style="border-top: 1px solid black;">
                <div class="simple-container">
                    <a href="/account/create"><div>Create a new account</div></a>
                    <a href="/account/join"><div>Join an existing account</div></a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
