@property --main-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #5546FA
}

@property --secondary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #F5FAFF
}


@property --charcoal-black {
    syntax: "<color>";
    inherits: false;
    initial-value: #060613
}
/* https://fonts.google.com/selection?lang=en_Latn&script=Latn&categoryFilters=Feeling:%2FExpressive%2FBusiness;Appearance:%2FTheme%2FTechno */
/*.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/

@font-face {
    font-family: "Kanit";
    font-weight: 400;
    font-style: normal;
    src: url('/static/fonts/Kanit-Regular.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    font-family: Kanit, Tahoma, Verdana, sans-serif;
    color: var(--charcoal-black);
    margin: 0px;
}

nav {
    background-color: var(--main-color);
    color: var(--secondary-color);
    display: inline-flex;
    justify-content: space-between;
    min-height: 50px;
}

nav div {
    display: inherit;
}

nav div a {
    display: flex;
    flex: 1;
    text-decoration: none;
    color: var(--secondary-color);
    max-width: 100px;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;

}

nav a:active {
    background-color: var(--charcoal-black);
    color: var(--main-color);
}

main {
    min-height: calc(100vh - 150px);
    margin: 0px 100px 0px 100px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--charcoal-black);
    color: var(--main-color);
    height: 100px;
    width: 100%;
}

footer a {
    color: var(--main-color);
    text-decoration: none;
    align-content: center;
}

footer a:active {
    color: var(--secondary-color);
}

h1 {
    color: var(--main-color);
    text-shadow: 1px 1px 0px var(--charcoal-black),
                2px 2px 0px var(--charcoal-black),
                3px 3px 0px var(--charcoal-black),
                4px 4px 0px var(--charcoal-black),
                5px 5px 0px var(--charcoal-black),
                6px 6px 0px var(--charcoal-black),
                7px 7px 5px var(--charcoal-black);
}

.box-shadow {
    box-shadow: 1px 1px 0px var(--charcoal-black),
                    2px 2px 0px var(--charcoal-black),
                    3px 3px 0px var(--charcoal-black),
                    4px 4px 0px var(--charcoal-black),
                    5px 5px 0px var(--charcoal-black),
                    6px 6px 0px var(--charcoal-black),
                    7px 7px 5px var(--charcoal-black);
}

.input-text {
    font-family: inherit;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.simple-container {
    display: flex;
    flex-direction: column;
}

.form-item {
    margin-top: 10px;
}

.button-submit {
    font-family: inherit;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.button-submit:active {
    background-color: var(--charcoal-black);
    color: var(--main-color);
}

.message-container {

}

.message {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-flex;
}

.error {
    border-color: darkred;
    background-color: pink;
}
    .error-icon {
        content: url('/static/imgs/icons/error.png');
    }

.warning {
    border-color: darkgoldenrod;
    background-color: lightgoldenrodyellow;
}
    .warning-icon {
        content: url('/static/imgs/icons/warning.png');
    }

.info {
    border-color: dodgerblue;
    background-color: lightcyan;
}
    .info-icon {
        content: url('/static/imgs/icons/info.png');
    }

.bin-btn {
    background-color: inherit;
    border: none;
    border-radius: 25px;
    padding: 2px 4px 2px 4px;

}
    .bin-btn:hover {
        background-color: pink;
    }

.bin-icon {
    content: url('/static/imgs/icons/bin.png');
}

.filter-dark-red {
    filter: brightness(0) saturate(100%) invert(8%) sepia(80%) saturate(5948%) hue-rotate(17deg) brightness(94%) contrast(121%);
}

.icon {
    width: 24px;
    height: 24px;
}

.table-container {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}

.table-container::-webkit-scrollbar {
    display: none;  /* Older Safari and Chromium */
}

.tr {
    border-radius: 5px;
    display: flex;
}
    .tr:hover {
        background-color: lightgray;
    }





