{% extends "base.html" %}
{% block title %} Budgets {% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}

{% block main %}

    <h1>Budgets</h1>

    <form method="get" action="/budget/create">
        <button class="button-submit box-shadow form-item" type="submit">Create New Budget</button>
    </form>

    {% include 'messageBar.html' %}

    <div class="table-noscroll" style="overflow: scroll; margin-top: 20px; max-height: 30vh; height: 30vh;">
        <table style="width: 100%;">
            <colgroup>
                <col span="1" style="min-width: 40vh;">
                <col span="1" style="min-width: 40vh;">
            </colgroup>
            <thead style="position: sticky; top: 0px; background-color: var(--secondary-color); text-align: left;">
                <tr>
                    <th>Name</th>
                    <th>Monthly Limit</th>
                </tr>
            </thead>
            <tbody>
                 {% for b in budgets %}
                    <tr onclick="window.location='/budget/edit/{{ b.id }}';">
                        <td class="link">{{ b.name }}</td>
                        <td class="link">{{ b.monthly_amount_limit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
