<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock %}
</head>
<body>
    <nav>
        {% block nav_bar %}
        <div>
                <a href="/"><div>Blow the Budget</div></a>
        </div>
        {% if session['uid'] %}
            <div>
                <a href="/account/view"><div>Account</div></a>
                <a href="/"><div>Budgets</div></a>
                <a href="/"><div>Statements</div></a>
                {% if is_admin %}
                    <a href="/user/list"><div>Users</div></a>
                {% endif %}
            </div>
            <div>
                <a href="/user"><div>Settings</div></a>
                <a href="/logout">Logout</a>
            </div>
        {% else %}
            <div>
                <a href="/login"><div>Login</div></a>
                <a href="/signup"><div>Sign-up</div></a>
            </div>
        {% endif %}

        {% endblock %}
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
         <a href="https://github.com/arctic-kraken/QA_WebApp_EPA/tree/master">Link to GitHub</a>
        {% endblock %}
    </footer>
</body>
</html>