{% extends "base.html" %}
{% block title %} Statements {% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}

{% block main %}

    <h1>Statements</h1>
    <p>Currently supporting only Revolut's "csv" statements.</p>
    <form method="post" action="" enctype="multipart/form-data">
        <input class="box-shadow" accept="text/csv" type="file" name="file">
        <button class="button-submit box-shadow form-item" type="submit">Upload Statement</button>
    </form>

    {% include 'messageBar.html' %}

    <div style="overflow: scroll; margin-top: 20px; max-height: 30vh; height: 30vh;">
        <table style="width: 100%;">
            <colgroup>
                <col span="1" style="min-width: 200px">
                <col span="1" style="min-width: 200px">
                <col span="1" style="min-width: 200px">
                <col span="1" style="min-width: 100px">
                <col span="1" style="min-width: 200px">
                <col span="1" style="min-width: 200px">
                <col span="1" style="min-width: 200px">
                <col span="1" style="min-width: 200px">
            </colgroup>
            <thead style="position: sticky; top: 0px; background-color: var(--secondary-color); text-align: left;">
                <tr>
                    <th>Reference</th>
                    <th>Name</th>
                    <th>Upload Date</th>
                    <th>Trx Count</th>
                    <th>Money In Total</th>
                    <th>Money Out Total</th>
                    <th>Oldest Trx</th>
                    <th>Newest Trx</th>
                </tr>
            </thead>
            <tbody>
                 {% for s in statements %}
                    <tr onclick="window.location='/statement/view/{{ s.id }}';">
                        <td class="link">{{ s.reference }}</td>
                        <td class="link">{{ s.name }}</td>
                        <td class="link">{{ s.upload_date }}</td>
                        <td class="link">{{ s.trx_count }}</td>
                        <td class="link">{{ '%0.2f'| format(s.money_in_total|float) }}</td>
                        <td class="link">{{ '%0.2f'| format(s.money_out_total|float) }}</td>
                        <td class="link">{{ s.date_oldest }}</td>
                        <td class="link">{{ s.date_newest }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
