{% extends "base.html" %}
{% block title %} Account Users {% endblock %}

{% block main %}

<h1>Account User List</h1>

<!-- update this bit only using render blocks https://search.brave.com/search?q=python+flask+return+only+a+part+of+template&summary=1&conversation=08c563e43eb9d1e19a0c8d5d859bdd8d0b0f -->

<div>
    <p>{{ invite_code }}</p>
    <button type="button">Copy Invite Code</button>
</div>

<form method="post">
     <button class="button-submit box-shadow form-item" type="submit">Get New Invite Code</button>
</form>

<p>insert table with users without thyself over here</p>

{% endblock %}
