{% extends "base.html" %}
{% block title %} Account Users {% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/invite.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}

{% block main %}

    <h1>Account User List</h1>

    <div>
        <span>Invite Code:</span>
        <span id="js-inviteCode">{{ invite_code }}</span>
    </div>

    <button class="button-submit box-shadow" type="button" onclick="getNewInviteCode();">Get New Invite Code</button>
    <button class="button-submit box-shadow" type="button" onclick="copyToClipboard('#js-inviteCode')">Copy Invite Code</button>

    {% include 'messageBar.html' %}

    <div class="table-container">
        {% for u in users %}
            <div class="tr">
                <span style="width: 200px;">{{ u.name }}</span>
                <span style="width: 50px;">{% if u.id == curr_user.id %} (You) {% endif %} </span>
                <span> {% if u.id != curr_user.id %}
                    <button class="bin-btn" type="button" onclick="deleteRecord('/account/revoke_access', {{ u.id }}, 'Are you sure you want to revoke access for this user?');">
                        <img class="icon bin-icon filter-dark-red">
                    </button> {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>


{% endblock %}
